<!DOCTYPE html>
<html>
<head>
	<title>Le Blog de Choone</title>
	<link rel="stylesheet" type="text/css" href="{{app.request.basepath}}/style/style.css">
</head>
<body>
	<header>
		Le Blog de Choone
	</header>
	<nav>
		<ul>
			<li><a href="{{app.request.basepath}}/">Accueil</a></li>
			<li><a href="{{app.request.basepath}}/contact">Contact</a></li>
			<li><a href="{{app.request.basepath}}/articles">Ecrire un article</a></li>
		</ul>
	</nav>
	<main>
		<p>Page de contact</p>
	</main>
</body>
</html>