<!DOCTYPE html>
<html>
<head>
	<title>Le Blog de Choone</title>
	<link rel="stylesheet" type="text/css" href="{{app.request.basepath}}/style/style.css">
</head>
<body>
	<header>
		Le Blog de Choone
	</header>
	<nav>
		<ul>
			<li><a href="{{app.request.basepath}}/">Accueil</a></li>
			<li><a href="{{app.request.basepath}}/contact">Contact</a></li>
			<li><a href="{{app.request.basepath}}/articles">Ecrire un acticle</a></li>
		</ul>
	</nav>
	<main>
		{% for article in articles %}
			<div class="article">
				<div id="nom">{{article.getNom()}}</div>
				<div id="date">{{article.getDate}}</div>
				<div id="description">{{article.getDescription()}}</div>
				<div id="ajoutCommentaire">
					<form action="{{ app.request.basepath }}/ajoutCommentaire" method="post">
						<input type="text" name="contenu" placeholder="Ajouter un commentaire..." required>
						<input type="submit" name="envoyer" value="Envoyer">
					</form>
				</div>
			</div>
		{% endfor %}
	</main>
</body>
</html>