<!DOCTYPE html>
<html>
<head>
	<title>Le Blog de Choone</title>
	<link rel="stylesheet" type="text/css" href="{{app.request.basepath}}/style/css">
</head>
<body>
	<header>
		<h1 class="titre">Le Blog de Choone</h1>
	</header>
	<nav>
		<ul>
			<li><a href="{{app.request.basepath}}/">Accueil</a></li>
			{% if connected %}
				<li><a href="{{app.request.basepath}}/user/">Mon Compte</a></li>
			{% else %}
				<li><a href="{{app.request.basepath}}/connexion">Se connecter</a></li>
			{% endif %}
		</ul>
	</nav>
</body>
</html>