<!DOCTYPE html>
<html>
<head>
	<title>Site</title>
	<link rel="stylesheet" href="{{app.request.basepath}}/style/style.css">
</head>
<body>
	<h1>Notre to-do list</h1>
	{% if names %}
		<ul>
			{% for name in names %}
				<li>
					<table>
						<th><input type="checkbox" disabled="disabled" {% if name.getFaite %}checked{% endif %}></th>
						<th>{{name.getTitle}}</th>
						<td><a href="remove/{{name.getId}}">Supprimer</a></td>
						{% if name.getFaite %}
						<td><a href="check/{{name.getId}}">Non-Faite</a></td>
						{% endif %}
						{% if name.getFaite == false %}
						<td><a href="check/{{name.getId}}">Faite</a></td>
						{% endif %}
					</table>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<p><a href="create">Ajouter</a></p>
</body>
</html>