<!DOCTYPE html>
<html>
<head>
	<title>Le Blog de Choone</title>
	<link rel="stylesheet" type="text/css" href="{{app.request.basepath}}/style/style.css">
</head>
<body>
	<header>
		Le Blog de Choone
	</header>
	<nav>
		<ul>
			<li><a href="{{app.request.basepath}}/">Accueil</a></li>
			{% if session.isConnected %}
				<li><a href="{{app.request.basepath}}/user/">Mon Compte</a></li>
			{% else %}
				<li><a href="{{app.request.basepath}}/connexion">Se connecter</a></li>
			{% endif %}
		</ul>
	</nav>
	<main>
		<a id="deconnexion" href="{{app.request.basepath}}/deconnexion/">Déconnexion</a>
	</main>
</body>
</html>